<tr id="row-__name__">
    <td>{{ form_widget(form.product, { 'attr': { 'class': 'custom-select w-100', 'onchange': 'updateDescriptionAndUnitPrice(this)' } }) }}</td>
    <td>
        {{ form_widget(form.description, { 'attr': { 'class': 'form-control m-input' }})  }}
    </td>
    <td>
        {{ form_widget(form.unitPrice, { 'attr': { 'class': 'form-control m-input' }}) }}
    </td>
    <td>
        {{ form_widget(form.qty, { 'attr': { 'class': 'form-control m-input product_qty', 'onblur': 'calculateLineTotal(this)' } }) }}
    </td>
    <td>
        {{ form_widget(form.lineTotal, { 'attr': { 'class': 'form-control m-input lineTotal' } }) }}
    </td>
    <td>
        <button onclick="deleteProductRow(this)" type="button" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only mt-1 deleteNode" id="__name__">X</button>
    </td>
</tr>