<tr>
    <td>{{ form_widget(form.product, { 'attr': { 'class': 'custom-select w-100' } }) }}</td>
    <td>
        {{ form_widget(form.description, { 'attr': { 'class': 'form-control m-input' }})  }}
    </td>
    <td>
        {{ form_widget(form.unit_price, { 'attr': { 'class': 'form-control m-input' }}) }}
    </td>
    <td>
        {{ form_widget(form.qty, { 'attr': { 'class': 'form-control m-input product_qty' } }) }}
    </td>
    <td>
        {{ form_widget(form.lineTotal, { 'attr': { 'class': 'form-control m-input' } }) }}
    </td>
</tr>