<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Invoice Print</title>
        <style>
            .invoice {
                padding: 45px;
            }
            .invoice__header {
                margin-bottom: 20px;
                border-bottom: 2px solid #000000;
            }
            .invoice__title {
                float: right;
                font-size: 14px;
                line-height: 1.5;
                text-align: right;
                color: #191e21;
                margin-top: 15px;
            }

            .company {
                display: inline-block;
            }
            .company__address {
                font-size: 12px;
                line-height: 1.5;
                color: #191e21;
            }

            .client_details {
                font-size: 10px;
                line-height: 1.5;
                color: #191e21;
                margin-bottom: 20px;
            }

            .invoice-table {
                border-collapse: collapse;
                width: 100%;
            }
            .invoice-table__header {
                height: 40px;
                background-color: #f5f6f7;
                border: solid 1px #ebeced;
            }
            .invoice-table__header th {
                font-weight: normal;
                font-size: 14px;
                line-height: 1.4;
                color: #303940;
                padding: 0 10px;
            }
            .invoice-table__header th:first-child {
                text-align: left;
                padding-left: 24px;
            }
            .invoice-table__header th:last-child {
                padding-right: 24px;
            }
            .invoice-table__row {
                height: 50px;
                background-color: #ffffff;
                border: solid 1px #ebeced;
                font-size: 14px;
                line-height: 1.4;
                color: #303940;
                text-align: center;
            }
            .invoice-table__row td:first-child {
                text-align: left;
                padding-left: 24px;
            }
            .invoice-table__row td:last-child {
                padding-right: 24px;
            }
            .invoice-table__row--summary td:first-child {
                text-align: right;
                padding-right: 24px;
                font-size: 14px;
                line-height: 1.4;
                color: #303940;
            }
        </style>
    </head>
    <body>
        <div class="invoice">
            <div class="invoice__header">
                <div class="company">
                    <img class="company__logo" src="imgs/logo.jpg">
                    <div class="company__address">
                        <div>Devnet Ltd.</div>
                        <div>BDBL Bhaban, 12 Kawran Bazar Dhaka-1215</div>
                    </div>
                </div>
                <span class="invoice__title">
                    Invoice #{{ invoice.number }}<br>
                    Created: {{ invoice.date|date('F j, Y') }}<br>
                    Due: {{ invoice.dueDate|date('F j, Y') }}
                </span>
            </div>
            <div class="client_details">
                <div><strong>Client Name:</strong> {{ invoice.client.name }}</div>
                <div><strong>Client Address:</strong> {{ invoice.client.address }}</div>
                <div><strong>Client Phone:</strong> {{ invoice.client.phone }}</div>
            </div>
            <div class="invoice__body">
                <table class="invoice-table">
                    <tr class="invoice-table__header">
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                    </tr>
                    {% for item in invoice.invoiceItems %}
                        <tr class="invoice-table__row">
                            <th>{{ loop.index }}</th>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.product.description }}</td>
                            <td>{{ item.unitPrice }}</td>
                            <td>{{ item.qty }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="invoice-table__row invoice-table__row--summary" style="padding-top: 20px;">
                        <td colspan="5">
                            <label>Subtotal:</label>
                            <span>${{ invoice.subTotal|number_format(2) }}</span>
                        </td>
                    </tr>
                    <tr class="invoice-table__row invoice-table__row--summary">
                        <td colspan="5">
                            <label>Discount ({{ invoice.discount }}%):</label>
                            <span>${{ ((invoice.subTotal/100) * invoice.discount)|number_format(2) }}</span>
                        </td>
                    </tr>
                    <tr class="invoice-table__row invoice-table__row--summary">
                        <td colspan="5">
                            <label>Deposit:</label>
                            <span>${{ invoice.deposit|number_format(2) }}</span>
                        </td>
                    </tr>
                    <tr class="invoice-table__row invoice-table__row--summary">
                        <td colspan="5">
                            <label>Total:</label>
                            <span>${{ invoice.total|number_format(2) }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
