{% form_theme form 'form/form_error.html.twig' %}

{{ form_start(form, { 'attr': { 'class': 'm-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed', 'novalidate': 'novalidate' }}) }}
<div class="m-portlet__body">
    <div class="form-group m-form__group row">
        {{ form_label(form.name, null, {
            'label': 'Client Name',
            'label_attr': {'class': 'col-lg-2 col-form-label'}
        }) }}
        <div class="col-lg-3">
            {{ form_widget(form.name, { 'attr': { 'class': 'form-control m-input', 'placeholder': 'Enter client name' } }) }}
            {{ form_errors(form.name) }}
        </div>
        {{ form_label(form.email, null, {
            'label': 'Client Email',
            'label_attr': {'class': 'col-lg-2 col-form-label'}
        }) }}
        <div class="col-lg-3">
            {{ form_widget(form.email, { 'attr': { 'class': 'form-control m-input', 'placeholder': 'Enter client email' } }) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="form-group m-form__group row">
        {{ form_label(form.phone, null, {
            'label': 'Client Phone',
            'label_attr': {'class': 'col-lg-2 col-form-label'}
        }) }}
        <div class="col-lg-3">
            {{ form_widget(form.phone, { 'attr': { 'class': 'form-control m-input', 'placeholder': 'Enter client phone' } }) }}
            {{ form_errors(form.phone) }}
        </div>
        {{ form_label(form.address, null, {
            'label': 'Client Address',
            'label_attr': {'class': 'col-lg-2 col-form-label'}
        }) }}
        <div class="col-lg-3">
            {{ form_widget(form.address, { 'attr': { 'class': 'form-control m-input', 'placeholder': 'Enter client address' } }) }}
            {{ form_errors(form.address) }}
        </div>
    </div>
</div>
<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions--solid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <button type="submit" class="btn btn-success">
                    {{ button_label|default('Save') }}
                </button>
                <a href="{{ path('client_index') }}" class="btn btn-secondary">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}